{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="container mt-5 text-center">
        <h2 class="mb-4">My Bookings</h2>
        <div class="d-inline-flex booking-buttons">
            <button class="btn btn-dark btn-sm me-2">Past Bookings</button>
            <a href="UpcomingEvent.html" class="btn btn-outline-dark btn-sm">Upcoming Bookings</a>
        </div>
    </div>

    <hr class="section-divider">

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="concertbookingline">

                    <li>
                        <a href="#" class="concert-title">Eagles Tribute</a>
                        <div class="Text-section">
                            <p class="date">Sat · 12 May 2025</p>
                            <p class="location">The Tivoli</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14532</p>
                            <p class="status">Status: Inactive</p>

                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">Crowded House</a>
                        <div class="Text-section">
                            <p class="date">Wed · 19 Feb 2025</p>
                            <p class="location">Brisbane Entertainment Centre</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14533</p>
                            <p class="status">Status: Inactive</p>

                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">Jimi Hendrix Experience</a>
                        <div class="Text-section">
                            <p class="date">Tue · 5 Nov 2024</p>
                            <p class="location">The Triffid</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14534</p>
                            <p class="status">Status: Inactive</p>

                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">Tool</a>
                        <div class="Text-section">
                            <p class="date">Tue · 22 Oct 2024</p>
                            <p class="location">Brisbane Convention & Exhibition Centre</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14535</p>
                            <p class="status">Status: Inactive</p>

                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">The Smashing Pumpkins</a>
                        <div class="Text-section">
                            <p class="date">Sun · 15 Sep 2024</p>
                            <p class="location">Fortitude Music Hall</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14536</p>
                            <p class="status">Status: Inactive</p>

                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">Staind</a>
                        <div class="Text-section">
                            <p class="date">Sun · 7 Jan 2024</p>
                            <p class="location">The Tivoli</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14537</p>
                            <p class="status">Status: Inactive</p>

                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">The Rolling Stones Tribute</a>
                        <div class="Text-section">
                            <p class="date">Sun · 8 Oct 2023</p>
                            <p class="location">Brisbane Entertainment Centre</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14538</p>
                            <p class="status">Status: Inactive</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}