{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="container mt-5 text-center">
        <h2 class="mb-4">My Upcoming Bookings</h2>

        <div class="d-inline-flex p-3" style="border-radius:8px;">
            <a href="History.html" class="btn btn-outline-dark btn-sm me-2" style="color: white">Past Bookings</a>
            <button class="btn btn-dark btn-sm">Upcoming Bookings</button>
        </div>
    </div>

    <hr class="section-divider">

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="concertbookingline">


                    <li>
                        <a href="#" class="concert-title">Metallica</a>
                        <div class="Text-section">
                            <p class="date">Wed · Oct 25, 2025</p>
                            <p class="location">Suncorp Stadium</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14533</p>
                            <p class="status">Status: Sold Out</p>

                            <div class="booking-buttons">
                                <a href="" class="btn btn-sm btn-outline-dark">View Ticket</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="concert-title">The Doors GoGo Whiskey Tribute</a>
                        <div class="Text-section">
                            <p class="date">Sep 28, 2025</p>
                            <p class="location">Princess Theatre</p>
                            <hr class="section-divider">
                            <p class="order">ORDER #32-14534</p>
                            <p class="status">Status: Open</p>

                            <div class="booking-buttons">
                                <a href="" class="btn btn-sm btn-outline-dark">View Ticket</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}

